body {
	font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
}

img {
	height: auto;
	width: 100%;
}

.button {
	background-color: #FFFFFF;
	border-radius: 49px;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	line-height: 38px;
	padding: 15px 0 10px;
	text-align: center;
	width: 308px;
}

.button-white {
	background-color: #FFFFFF;
	color: #6B6B6B;
}

.button-blue {
	background: linear-gradient(90deg, #7474BF 0%, #348AC7 100%);
	color: #FFFFFF;
}

.button-red {
	background-color: #D04A3D;
	color: #FFFFFF;
}

.mt-22 {
	margin-top: 22px;
}

/* fuwa start */

.fadeUp {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: fadeUpAnime;
}

.fuwa {
	opacity: 0;
}

/* fuwa end */

header {
	height: 100vh;
	min-height: 600px;
	position: relative;
}

.header-video-area {
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -2;
}

.header-video {
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.header-content-area {
	height: 100vh;
	left: 50%;
	min-height: 600px;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	z-index: 0;
}

.header-content-area-inner {
	margin: 0 auto;
	width: calc(100% - 80px);
}

.header-list {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	margin-top: 42px;
}

.header-list li a {
	color: #FFFFFF;
	font-family: "Inter";
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.header-logo {
	height: 543px;
	left: 50%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 543px;
}

.scroll {
	bottom: 0;
	color: #fff;
	display: inline-block;
	font-family: "Inter", sans-serif;
	font-size: 12px;
	left: 50%;
	letter-spacing: 0.29em;
	line-height: 15px;
	overflow: hidden;
	padding: 0 0 73px 17px;
	position: absolute;
	text-transform: uppercase;
	transform: translateX(-50%);
	writing-mode: vertical-lr;
	z-index: 2;
}

.scroll::after {
	animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
	background: #FFFFFF;
	bottom: 0;
	content: "";
	height: 138px;
	left: 0;
	position: absolute;
	width: 1px;
}

.header-sp {
	background: #fff;
	display: none;
}

.drawer-icon {
	display: none;
	position: fixed;
	right: 12px;
	top: 24px;
	transition: transform 0.5s ease 0s;
	z-index: 11;
}

.drawer-icon.is-active {
	transform: translateX(-308px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
	background: #fff;
	top: 8px;
	transform: rotate(-45deg);
	transition: transform 0.5s ease 0s;
}

.drawer-icon.is-active .drawer-icon-bar2 {
	display: none;
	transition: transform 0.5s ease 0s;
}

.drawer-icon.is-active .drawer-icon-bar3 {
	background: #fff;
	top: 8px;
	transform: rotate(45deg);
	transition: transform 0.5s ease 0s;
}

.drawer-icon-bars {
	border-radius: 2px;
	display: block;
	height: 21px;
	position: relative;
	width: 32px;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
	background: #FFFFFF;
	border-radius: 2px;
	height: 3px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	z-index: 11;
}

.drawer-icon-bar1 {
	border-radius: 2px;
	top: 0px;
}

.drawer-icon-bar2 {
	border-radius: 2px;
	top: 9px;
}

.drawer-icon-bar3 {
	border-radius: 2px;
	top: 18px;
}

.drawer-content {
	background: #18ABAA;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 300px;
	z-index: 11;
}

.drawer-content.is-active {
	transform: translateX(0%);
	transition: transform 0.5s ease 0s;
}

.drawer-content-items {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.drawer-content-item {
	text-align: center;
}

.drawer-content-item:not(:first-child) {
	padding-top: 32px;
}

.drawer-content-item a {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	padding: 10px 0;
	text-decoration: none;
}

.drawer-background {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vh;
	z-index: 10;
}

.drawer-background.is-active {
	display: block;
}

.info {
	background: rgba(0, 0, 0, 0.9);
	padding: 92px 0 67px;
}

.info-inner {
	margin: 0 auto;
	width: 90%;
}

.info-container {
	padding-left: 77px;
}

.info-container-item {
	color: #FFFFFF;
	display: flex;
	font-size: 13px;
	gap: 35px;
	justify-content: center;
	letter-spacing: 0.29em;
	line-height: 32px;
}

.info-container-item-left {
	width: 130px;
}

.info-container-item-right {
	width: 310px;
}

.welcome {
	background: url(../img/welcome-bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 650px;
	position: relative;
}

.welcome-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 50%;
	max-width: 1247px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.section-title {
	color: #FFFFFF;
	font-size: 73px;
	font-weight: 600;
	line-height: 99px;
}

.section-message {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
}

.welcome-message {
	margin: 40px 0 56px;
}

.welcome-right {
	height: 561px;
	padding-top: 16px;
	width: 543px;
}

.connection {
	background: url(../img/connection-bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 650px;
	position: relative;
}

.connection-inner {
	left: 50%;
	max-width: 1247px;
	position: absolute;
	text-align: right;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.connection-content {
	display: inline-block;
	margin-left: auto;
	text-align: left;
}

.connection-message {
	margin: 22px 0 38px;
}

.entry {
	background: url(../img/entry-bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 650px;
	position: relative;
}

.entry-inner {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.entry-title {
	color: #454D5C;
}

.entry-message {
	color: #454D5C;
	display: inline-block;
	margin: 47px 0 181px;
	text-align: left;
}

.member {
	background: url(../img/member-bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	padding: 113px 0 261px;
	position: relative;
}

.member::before {
	background-color: rgba(0, 0, 0, 0.76);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.member-inner {
	margin: 0 auto;
	position: relative;
	width: 90%;
}

.member-title {
	text-align: center;
}

.member-items {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
	margin: 0 auto;
	margin-top: 112px;
	max-width: 1040px;
}

.member-item {
	display: inline-block;
	height: 278px;
	width: 250px;
}

.article {
	padding: 132px 0 110px;
}

.article-inner {
	border: 40px solid #000000;
	border-radius: 42px;
	margin: 0 auto;
	max-width: 1310px;
	padding: 312px 0 68px;
	width: 90%;
}

.article-flex {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 97px;
	justify-content: center;
}

.article-flex-right {
	width: 430px;
}

.article-flex-right-title {
	color: #797979;
	font-size: 30px;
	font-weight: 600;
	line-height: 47px;
}

.article-flex-right-message {
	color: #797979;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	margin-top: 26px;
}

.article-flex-left {
	width: 545px;
}

.article-button-container {
	margin-top: 238px;
	text-align: center;
}

.sponser {
	background-color: #FBFBFB;
	padding: 109px 0 111px;
}

.sponser-inner {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

.sponser-title {
	color: #3D4451;
	font-size: 64px;
	font-weight: 600;
	line-height: 99px;
}

.sponser-text {
	color: #000000;
	font-size: 17px;
	font-weight: 300;
	line-height: 26px;
	margin-top: 29px;
}

.sponser-items {
	display: flex;
	gap: 62px;
	justify-content: center;
	margin-top: 79px;
}

.sponser-item {
	display: inline-block;
	height: 80px;
	width: 332px;
}

.about {
	background: #0B1253;
	padding: 141px 0 100px;
}

.about-inner {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1065px;
	width: 90%;
}

.about-text {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	line-height: 38px;
	margin-bottom: 85px;
}

footer {
	background: #0B1253;
	position: relative;
}

footer::before {
	background-color: rgba(255, 255, 255, 0.23);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.footer-inner {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	font-size: 20px;
	font-weight: 300;
	justify-content: space-between;
	line-height: 99px;
	margin: 0 auto;
	max-width: 1305px;
	position: relative;
	width: 90%;
}

.footer-sns-icons {
	align-items: center;
	display: flex;
	gap: 42px;
}

.footer-sns-icon-1 {
	height: 36px;
	position: relative;
	width: 36px;
}

.footer-sns-icon-1 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-2 {
	height: 31px;
	position: relative;
	width: 41px;
}

.footer-sns-icon-2 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-3 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-3 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-4 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-4 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-5 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-5 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

@media (min-width: 768px) and (max-width: 1279px) {

.button {
	font-size: 18px;
	line-height: 25px;
	width: 270px;
}

.welcome {
	min-height: 720px;
}

.section-title {
	font-size: 50px;
	line-height: 80px;
}

.section-message {
	font-size: 18px;
	line-height: 34px;
}

.welcome-message {
	margin: 20px 0 28px;
}

.connection {
	min-height: 720px;
}

.entry {
	min-height: 720px;
}

.article-inner {
	padding: 150px 0 50px;
}

.article-flex {
	gap: 70px;
}

.article-button-container {
	margin-top: 150px;
}

.about-text {
	font-size: 16px;
	line-height: 30px;
}

}

@media (max-width: 767px) {

.button {
	font-size: 16px;
	line-height: 20px;
	width: 250px;
}

.br-pc {
	display: none;
}

.header-list {
	display: none;
}

.header-logo {
	left: 50%;
	margin-top: 0;
	max-width: 375px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.header-sp {
	display: block;
	position: relative;
	z-index: 10;
}

.drawer-icon {
	display: block;
}

.info-container {
	padding-left: 0;
}

.info-container-item {
	font-size: 12px;
	gap: 20px;
	letter-spacing: 0.1em;
}

.welcome {
	background-attachment: scroll;
	min-height: 650px;
}

.welcome-inner {
	display: block;
}

.section-title {
	font-size: 35px;
	line-height: 45px;
}

.section-message {
	font-size: 14px;
	line-height: 26px;
}

.welcome-message {
	margin: 20px 0 28px;
}

.welcome-right {
	display: none;
}

.connection {
	background-attachment: scroll;
	min-height: 650px;
}

.entry {
	background-attachment: scroll;
	min-height: 650px;
}

.entry-message {
	margin: 25px 0 70px;
}

.member {
	background-attachment: scroll;
	padding: 50px 0 100px;
}

.member-items {
	margin-top: 50px;
}

.member-item {
	height: 170px;
	width: 155px;
}

.article {
	padding: 50px 0;
}

.article-inner {
	border: 15px solid #000000;
	padding: 110px 0 50px;
}

.article-flex {
	gap: 45px;
}

.article-flex-right {
	width: 75%;
}

.article-flex-right-title {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.article-flex-right-message {
	font-size: 10px;
	line-height: 18px;
	margin-top: 20px;
	text-align: center;
}

.article-flex-left {
	width: 70%;
}

.article-button-container {
	margin-top: 50px;
}

.sponser {
	padding: 50px 0 80px;
}

.sponser-title {
	font-size: 35px;
	line-height: 50px;
}

.sponser-text {
	font-size: 14px;
	line-height: 20px;
	margin-top: 20px;
}

.sponser-items {
	gap: 40px;
	margin-top: 40px;
}

.sponser-item {
	width: 35%;
}

.about {
	padding: 50px 0 100px;
}

.about-inner {
	display: block;
}

.about-text {
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 24px;
	margin-bottom: 45px;
	margin-top: 20px;
}

footer {
	padding: 15px 0;
}

.footer-inner {
	display: block;
}

.footer-sns-icons {
	gap: 20px;
}

.footer-sns-icon-1 {
	height: 18px;
	width: 18px;
}

.footer-sns-icon-2 {
	height: 15px;
	width: 20px;
}

.footer-sns-icon-3 {
	height: 15px;
	width: 15px;
}

.footer-sns-icon-4 {
	height: 15px;
	width: 15px;
}

.footer-sns-icon-5 {
	height: 15px;
	width: 15px;
}

.copyright {
	margin-top: 20px;
}

}

@media (max-width: 767px) and (max-width: 767px) {

.footer-inner {
	font-size: 12px;
	line-height: 20px;
}

}

@keyframes fadeUpAnime {

0% {
	opacity: 0;
	transform: translateY(100px);
}

100% {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes sdl {

0% {
	transform: scale(1, 0);
	transform-origin: 0 0;
}

30% {
	transform: scale(1, 1);
	transform-origin: 0 0;
}

70% {
	transform: scale(1, 1);
	transform-origin: 0 100%;
}

100% {
	transform: scale(1, 0);
	transform-origin: 0 100%;
}

}

